extends layout
block content
  div.container
    div.page-header
      h1 Music Party

      if profile
          p You are logged in as #{profile.name}. 
            a(href="/logout/") Log out?
      else
          p You aren't logged in to music party. 
            a(href="/login/") Log in?

    if profile
      p Without tapping in with a physical device, you can only 
        a.btn(href="/public/party") Join a Public party.