!!!
html
  head
    title Entrance
    script(src='//code.jquery.com/jquery.min.js')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/css/party.css')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
    script(src="http://toma.hk/api.js?v=1")
    script(src="/socket.io/socket.io.js")
    script(src="/party.js")


  body
    div.container-fluid
      div.row-fluid
        div.span4

          h1 Entrance Party
            h3#room-title (#{room})

          div#tag-info
            h3 Nobody has tagged in or music has run out. Tag in by following the instructions below!

          #musictarget

          button.btn.btn-info#next.hidden Next Track

        div.span4
          h2 Mixing Music For Users:

          table#usertarget.table.table-striped
            td
              td Nobody Yet 

    div.row-fluid(style="margin-bottom:-60px")
      div.span12#instructions
        h2 What is Entrance?

        p#how-to Entrance will sync your Facebook ID to your Charlie Card. You can come to this station, tag in, and have it instantly play your favorite music. If more people keep tagging in, it will play the the favorite music of everyone.

    div.row-fluid
      div.span12#instructions
        h2 How To Use

    div.row-fluid(style="margin-top:-60px")

      div.span4#photo-flow
        p 
          span.num 1. 
          | First go to 
          a(href='http://connect.lifegraphlabs.com')(target="_blank") Lifegraph Connect 
          | to sync your Charile Card and click 'Connect' next to Entrance Tutorial.
        img.instructions(src='/img/step1.png')

      div.span4#photo-flow
        p 
          span.num 2. 
          | Then, sign in with your Facebook credentials.
        img.instructions(src='/img/step2.png')

      div.span4#photo-flow
        p 
          span.num 3. 
          | Tap your Charlie Card against the reader and click to 'claim' your ID which links your Charlie Card ID with your Facebook ID.
        img.instructions(src='/img/step3-6.png')
    div.row-fluid

      div.span4#photo-flow
        p 
          span.num 4. 
          | Back on the Lifegraph Connect website, click 'claim this device' which links your Charlie Card ID with your Facebook ID.
        img.instructions(src='/img/step4.png')

      div.span4#photo-flow
        p 
          span.num 5. 
          | Log out of Lifegraph Connect so more people can sync after you!.
        img.instructions(src='/img/step5.png')

      div.span4#photo-flow
        p 
          span.num 6. 
          | Then, just tap your Charlie Card against the reader once more to tag in and start playing your favorite music as well.
        img.instructions(src='/img/step3-6.png')




